export(annotateDMRs)
export(filterDMRmatrix)
export(filterEpiMAF)
export(filterReplicateConsensus)
export(makeDMRmatrix)
export(context.specific.DMRs)
export(splitGroups)
export(runjDMRgrid)
import(ggplot2)
import(utils)
import(future)
import(magrittr)
import(doParallel)
import(biocViews)
import(future.apply)
import(foreach)
importFrom(GenomicRanges,GRanges)
importFrom(foreach, "%dopar%")
importFrom(GenomicRanges,slidingWindows)
importFrom(GenomicRanges,findOverlaps)
importFrom(GenomicRanges,intersect)
importFrom(IRanges,subsetByOverlaps)
importFrom(data.table,fread)
importFrom(data.table,fwrite)
importFrom(data.table,rbindlist)
importFrom(dplyr,group_by)
importFrom(dplyr,id)
importFrom(dplyr,inner_join)
importFrom(dplyr,mutate)
importFrom(dplyr,filter)
importFrom(dplyr,bind_rows)
importFrom(dplyr,semi_join)
importFrom(dplyr,summarize)
importFrom(grDevices,dev.off)
importFrom(grDevices,pdf)
importFrom(IRanges,slidingWindows)
importFrom(IRanges,IRanges)
importFrom(methimpute,callMethylation)
importFrom(methimpute,distanceCorrelation)
importFrom(minpack.lm,nlsLM)
importFrom(rtracklayer,export.gff)
importFrom(rtracklayer,import.gff3)
importFrom(rtracklayer,strand)
importFrom(stats,coefficients)
importFrom(stats,na.omit)
importFrom(stats,start)
importFrom(stats,end)
importFrom(foreach, "%dopar%")
importFrom(stringr,str_remove_all)
importFrom(stringr,str_replace_all)
importFrom(tidyr,separate)
importFrom(tidyr,unnest)
importFrom(utils,setTxtProgressBar)
importFrom(utils,txtProgressBar)
importFrom(GenomicRanges,makeGRangesFromDataFrame)
importFrom(GenomicRanges,seqnames)
importFrom(GenomicRanges,reduce)
importFrom(IRanges,countOverlaps)
importFrom(GenomicRanges,findOverlaps)
importFrom(IRanges,CharacterList)
importFrom(IRanges,ranges)
importFrom(stats,aggregate)
importFrom(Biostrings,readDNAStringSet)
importFrom(S4Vectors,queryHits)
importFrom(S4Vectors,subjectHits)
importFrom(S4Vectors,elementMetadata)
importFrom(S4Vectors,mcols)
importFrom(S4Vectors,"mcols<-")
importFrom(S4Vectors,"values<-")
importFrom(S4Vectors,"elementMetadata<-")
importFrom(S4Vectors,values)
importFrom(Biostrings,type)
importFrom(ape,read.gff)
importFrom(methimpute,importBismark)
importFrom(methimpute,extractCytosinesFromFASTA)
importFrom(methimpute,inflateMethylome)
importFrom(data.table,uniqueN)
importFrom(stats,ecdf)
importFrom(stats,quantile)
importFrom(R.utils,withTimeout)
importFrom(methods,as)
importFrom(parallel,makeCluster)
importFrom(parallel,stopCluster)
importFrom(rlang,".data")
