export(annotate)
export(annotateDMRs)
export(filterDMRmatrix)
export(filterEpiMAF)
export(filterReplicateConsensus)
export(gff3.in)
export(gff3.out)
export(makeDMRmatrix)
export(context.specific.DMRs)
export(extract.context.DMRs)
export(split.groups)
export(makeReg)
export(merge.bins)
export(merge.cols)
export(modified.estimateTransDist)
export(runjDMRgrid)
import(Biostrings)
import(GenomicRanges)
import(S4Vectors)
import(data.table)
import(dplyr)
import(ggplot2)
import(utils)
